<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h2 th:text="${edit} ? 'Edit product' : 'Add peripherals'"></h2>
<form action="#" th:action="@{/save}" th:object="${productInstance}" method="post">
    <p>amount: <input type="text" th:field="*{amount}"/></p>
    <p>price: <input type="text" th:field="*{price}"/></p>
    <p>producing_country: <input type="text" th:field="*{producing_country}"/></p>
    <p>kind: <input type="text" th:field="*{kind}"/></p>
    <p>info: <input type="text" th:field="*{info}"/></p>
    <input type="hidden" name="product" value="peripherals"/>
    <div th:if="${edit}">
        <input type="hidden" name="id" th:value="${productInstance.getId()}"/>
    </div>
    <p><input type="submit" value="Submit"/></p>
</form>
<a th:href="@{/}">Back to home</a>
</body>
</html>